:root {
  --color-text: #fff;
}

ul {
  padding-inline-start: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: rgba(0, 0, 0, 0.75);
  /* backdrop-filter: blur(100rem);
  -webkit-backdrop-filter: blur(100rem); */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
  overflow: hidden;
}
