@import './base.css';

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-drag-region {
  -webkit-app-region: drag;
  width: 100%;
  /* position: fixed;
  top: 0;
  left: 0; */
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 1rem;

  h1 {
    color: gray;
    font-size: 1rem;
  }

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ProseMirror {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 1rem;
  padding-top: 0rem;
  overflow: hidden;
}

.hide-button {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  color: gray;
}
